<p>Hey There!</p>
<p>
    Guess what?!  <b>A review has been added on the profile of <%= @politician.first_name %> <%= @politician.last_name %> that you created!</b>
    Check it out <%= link_to 'here', politician_url(@politician) %>!
</p>

Cheers,<br />
Admin
