<div class="marginall">
    <h2>About DigGov</h2>
  </br>

    <h3>
      DigGov was built by <a target="_blank" href="https://www.linkedin.com/in/maya-novarini-437587114">Maya Novarini.</a>
    </h3>
    <h4>
      It's purpose is to be a democratic platform where people can share their politicial opinion and review the performance of politicians and government officers as public servants.
    </h4>
    </br>
    <h2>About the developer</h2>
    </br>
    </br>
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <img alt="Maya Novarini" src="http://s32.postimg.org/yfif7q091/13224218_10153772315774542_891366307_o.jpg", class: 'img-responsive'>
      </div>

      <div class="col-xs-12 col-md-8">
        <h2 class="text-center">Maya Novarini</h2>
        <h3 class="text-center";>is a/n :</h3><br />

        <div class="aboutlist">
          <ul>
            <li>Painter, her favorite mediums are oil and gouache.</li>
            <li>Author, currently writing a book on anti-communist genocide that took place in Indonesia back in 1965. Check her writings <a href="http://www.kompasiana.com/bitchywatchdog" target="_blank">here</a></li>
            <li>Book worm, trying to foster a habit of getting one book read each day.</li>
            <li>Boxer, booohhhhhh yeah!!!</li>
            <li>Lived in three cities: Jakarta, Indonesia; Amsterdam, The Netherlands and San Francisco, U.S.</li>
            <li>Master in Political Communication from Universiteit van Amsterdam</li>
            <li>Student at the University of Hertfordshire, pursuing her second Master's in Sofware Engineering</li>
            <li>Student in computer science at City College of San Francisco.</li>
          </ul>
        </div>
      </div>
    </div>
</div>
