<div class="marginall">
  <h1 style="text-align: center">Editing Politician</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @politician, class: "btn btn-link" %> |
  <%= link_to 'Back', politicians_path, class: "btn btn-link" %>
</div>
